* {
    margin: 0;
    padding: 0;
  }

  /* --------------------------------- NAV --------------------------------- */

  header{
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 3px 3px rgb(0 0 0 / 5%);
    grid-area: header;
}



  ul{
      display:flex;
      justify-content: end;
  }
  
  .navbar-nav{
      display: flex;
      padding-left: 100%;
      align-items: center;
      margin-left: 2rem;
  }

/* -- */

  .navbar {
    background: rgb(222, 222, 222);
    background: linear-gradient(0deg, rgb(222, 222, 222) 0%, rgb(242, 242, 242) 100%);
  }
  
  .logo {
    z-index: 1000;
    padding-top: none;
    position: relative;
    width: 55px;
    height: auto;
  }

  .dropdown-menu {
    background-color: rgb(233, 233, 233);
  }
  
  .nav-link {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: #333333;
    font-size: 1em;
    text-decoration: none;
  }
  .nav-link:hover {
    background-color: #Ec686c;
    color: #333333;
    font-weight: 800;
  }
  
  .nav-item i:hover {
    color: #333333;
  }
  
  .icono {
    color: #Ec686c;
    font-size: 1.5em;
    padding-left: 2px;
    padding-right: 2px;
  }
  
  #active {
    color: #Ec686c;
  }
  
  .menu {
    justify-content: end;
  }
  
  .justify-content-end {
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-link {
    margin-left: 5px;
    margin-right: 5px;
  }



  /* --------------------------------- FOOTER --------------------------------- */

.contenedor-footer {
    color: white;
    background: rgb(27, 95, 126);
    background: linear-gradient(0deg, rgb(27, 95, 126) 0%, rgb(34, 118, 157) 100%);
    font-family: "Montserrat", sans-serif;
    padding: 10px 30px 10px 40px;
    border-radius: 0px 90px 0px 0px;
    font-size: 1em;
    display: grid;
    margin-top: 13%;
    grid-area: footer;
  }
  
  .contenedorPuzzle {
    color: #09ccda;
    grid-template-areas: puzzle;
    font-size: 3em;
  }
  
  .puzzle {
    text-align: center;
  }
  
  .contenedorDatos {
    width: 80%;
    grid-area: texto1;
  }
  
  .contenedorInfo {
    width: 80%;
    grid-area: texto2;
  }
  
  .copyright {
    grid-area: derechos;
    text-align: end;
  }

   /*--------------------------------------------*/
  
   .contenedor-footer{
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "puzzle texto1 texto2" "derechos derechos derechos";
  }
  
  .contenedorPuzzle {
    text-align: center;
    margin-top: 10px;
  }
  
  .contenedorDatos {
   margin-top: 20px;
  }
  
  .contenedorInfo {
    margin-top: 20px;
  }
  
  .copyright{
     text-align:center;
     width: 100%;
  }

/* --------------------------------- LOGIN --------------------------------- */

.login{
  grid-area: login;
}

* {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}

#user{
  background-image: url(/assets/Fondo\ Domino.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  article{
    margin-top: auto;
    margin-bottom: auto;
  }

.container{
    position:relative;
    top:150px;
    left:15%;
    display:block;
    margin-bottom:80px;
    width:550px;
    height:420px;
    background:#fff;
    border-radius:5px;
    overflow:hidden;
    z-index:1;
  }


  h2{
    padding:40px;
    font-weight:lighter;
    text-transform:uppercase;
    color:#414141;
  }
  
  input{
    display:block;
    height:65px;
    width:90%;
    margin:0 auto;
    border:none;
    &::placeholder{
      -webkit-transform:translateY(0px);
        transform:translateY(0px);
      -webkit-transition:.5s;
        transition:.5s;
    }
    &:hover,
    &:focus,
    &:active:focus{
      color:#ff5722;
      outline:none;
      border-bottom:1px solid #ff5722;
      &::placeholder{
        color:#ff5722;
        position:relative;
        -webkit-transform:translateY(-20px);
        transform:translateY(-20px);
        
      }
    }
  }

.email,
.pwd{
  position:relative;
  z-index:1;
  border-bottom:1px solid rgba(0,0,0,.1);
  padding-left:20px;
  font-family: 'Open Sans', sans-serif;
  text-transform:uppercase;
  color:#858585;
  font-weight:lighter;
  -webkit-transition:.5s;
  transition:.5s;
}



.link{
  text-decoration:none;
  display:inline-block;
  margin: 30px 15%;
  text-transform:uppercase;
  color:#858585;
  font-weight:lighter;
  -webkit-transition:.5s;
  transition:.5s;
}

button{
  display:inline-block;
  width:252px;
  height:60px;
  margin-top:-10px;
  border:none;
  font-family: 'Manrope';
  text-transform:uppercase;
  color:#fff;
  -webkit-transition:.5s;
  transition:.5s;
  &:nth-of-type(1){
    background: #227C9D;
  }
  &:nth-of-type(2){
    background:#Ec686c;
  }
  span{
    position:absolute;
    display:block;
    margin:-10px 13%;
    -webkit-transform:translateX(0);
    transform:translateX(0);
    -webkit-transition:.5s;
    transition:.5s;
  }
  &:hover{
    span{
      -webkit-transform:translateX(15px);
      transform:translateX(15px);
      }
   }
}
/* ---------------------------------------- CALENDARIO ---------------------------------------- */
//falta darle estilo a todo
h1{ 
padding-top: 5%;
margin-left: 2%
}


/* ------------------------------------------ IMPORT ------------------------------------------*/

@import "desktop";